@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

body {
  background: center / cover no-repeat fixed url("https://itmd-362-2024.github.io/lab2/media/building.jpg") #eee;
  font-family: "Roboto", "Montserrat", sans-serif;
  padding: 0.5em;
  height: 100svh;
  min-height: 600px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

#logo {
  text-align: right;
  flex: 0 1 auto;
}

#logo h3 {
  font-size: 2em;
}

#main-container {
  align-content: center;
  flex: 1 1 auto;
}

#form-header {
  position: fixed;
  top: 10%;
  width: 100%;
  overflow-wrap: anywhere;
}

#form {
  width: 90%;
  height: 75%;
  margin: 0 auto;
  backdrop-filter: blur(3px) brightness(30%);
  border-radius: 0.4em;
  color: #eee;
  text-align: center;
  align-content: center;
  line-height: 2em;
  font-size: 1.5em;
}

#form strong {
  font-weight: bold;
  font-style: normal;
  color:greenyellow;
}

#form label::before {
  color: red;
  content: '* ';
  display: inline;
}

button {
  background-color: greenyellow;
  font-size: 1.5rem;
  padding: 0.3em;
  border-radius: 1.8em;
}

button:hover {
  filter: brightness(75%);
}